@charset "utf-8";

html {
    font-family: Verdana, Geneva, sans-serif;
    height: 100%;
    width:100%;
 }

body{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    width:100%;

}

header{
    background-color: red;
    max-height:10%;
}

div.rows{
    flex:1;
    border:1px solid black;
    flex-wrap: nowrap;

}

div.filters{
    background-color: green;
    float: left;
    border:1px solid black;

}

div.wheel{
    background-color: burlywood;
    float:right;
    border:1px solid black;

}

footer{
    background-color: beige;
    max-height:10%;
    
}

button{
    display:none;
}
