<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="homePage.css" rel="stylesheet" />
    <link href="styles.css" rel="stylesheet"/>
    <title>Document</title>
</head>

<body>
    <button id="startButton">Start Search</button>

    <header>
        <p><img src="profilePic.png"><img src="setting.png"></p>
    </header>

    <div class="rows">

        <div class="leftSide">
            
            <div class="filters">
            <label for="distanceSlider">Distance (miles)</label>
            <br>
            <input name="distance" id="distanceSlider" type="range" value="10" step="1" />
            </div>

            <div class="filters">
            <label for="Cusine" multiple>Cuisine</label>
            

            <input type="checkbox">

            <!-- <select name="filter1" id="filter1">
                <option value="">Italian</option>
                <option value="">Mexican</option>
                <option value="">Chinese</option>
                <option value="">Greek</option>
                <option value="">American</option>
            </select> -->

            </div>
            
            <div class="filters">
            <label for="diningEx">Dining Experience</label>
            <select name="diningExperience" id="diningEx">
                <option value="">Fast Food</option>
                <option value="">Dine-In</option>
                <option value="">Take out</option>
                <option value="">Delivery</option>
                <option value="">Fine-Dining</option>
            </select>
            </div>

            <div class="filters">
            <label for="meals">Meals</label> 
            <select name="mealType" id="meals">
                <option value="">Breakfast</option>
                <option value="">Lunch</option>
                <option value="">Dinner</option>
            </select>  
            </div>

            <div class="filters">
                <label for="price">Pricing</label> 
                <select name="pricing" id="price">
                    <option value="">$</option>
                    <option value="">$$</option>
                    <option value="">$$$</option>
                </select>  
            </div>

            <div class="filters">
                <label for="rating">Rating</label> 
                <select name="ratingScore" id="rating">
                    <option value="">*** & Up</option>
                    <option value="">**** & Up</option>
                    <option value="">*****</option>
                </select>  
            </div>



        </div>
   

        <div class="wheel">
            <h2>Wheel</h2>
            <h3> Insert cirlce here</h3>
        </div>
    </div>


    <footer>
        <p>about us</p>
    </footer>
</body>
</html>