<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="homePage.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <button id="startButton">Start Search</button>

    <header>
        <p>HOWDY</p>
    </header>

    <div class="rows">

        <div class="filters">
            
            <label for="distanceSlider">Distance (miles)</label>
            <input name="distance" id="distanceSlider" type="range" value="10" step="1" min="0.5" max="30" />

            <label for="Cusine">Cuisine</label>
            <select name="filter1" id="filter1">
                <option value="">Burger</option>
                <option value="">Pizza</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            
            <label for="Cusine">Dining Experience</label>
            <select name="diningExperience" id="diningEx">
                <option value="">Fast Food</option>
                <option value="">Dine-In</option>
                <option value="">Take out</option>
                <option value="">Delivery</option>
                <option value="">Fine-Dining</option>
            </select>


        </div>
   

        <div class="wheel">
            <h2>Wheel</h2>
            <h3> Insert cirlce here</h3>
        </div>
    </div>


    <footer>
        <p>about us</p>
    </footer>
</body>
</html>