<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/wheel.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Munch Madness Wheel</title>
</head>

<body>
    <div class="roulette-wheel">
        <div class="wheel">
            <div class="options">
                <div class="option">Chilis</div>
                <div class="option">Chipotle</div>
                <div class="option">Wing Stop</div>
                <!-- Add more options here -->
            </div>
        </div>
    </div>
    <button onclick="spinWheel()">Spin</button>

    <script src="/scripts/wheel.js"></script>


<footer>
    Copyright &copy; 2023 Munch Madness<br>
  </footer>
  </div>
  </body>
  </html>